@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-control-layers-toggle {
  background-image: url("/icons/layer.svg") !important;
  width: 50px !important;
  height: 50px !important;
  background-size: cover !important;
}

.leaflet-control {
  border: 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.above-map {
  z-index: 1000;
}

.leaflet-container {
  height: 100%;
}

/* .top-left {
  top: 45px !important;
} */

@media only screen and (max-width: 640px) {
  .leaflet-control-zoom {
    visibility: hidden;
  }
}
